apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: elk
data:
  filebeat.yml: |
    filebeat.inputs:
      - type: filestream
        id: k8s-containers
        paths:
          - /var/log/containers/*.log
        parsers:
          - container: ~

        processors:
          - add_kubernetes_metadata:
              host: ${NODE_NAME}
              matchers:
                - logs_path:
                    logs_path: "/var/log/containers/"

    output.logstash:
      hosts: ["<실제-logstash-service-name>.elk.svc.cluster.local:5044"]
