# CRD 관련
crds:
  enabled: true
  upgradeJob:
    enabled: true

# Prometheus Operator 관련
prometheusOperator:
  enabled: true
  createCustomResource: true
  serviceMonitorSelectorNilUsesHelmValues: false
  serviceMonitorSelector: {}
  podMonitorSelector: {}
  serviceMonitorNamespaceSelector: {}
  podMonitorNamespaceSelector: {}

# Prometheus 서버 설정
prometheus:
  enabled: true
  prometheusSpec:
    replicas: 1
    retention: "7d"
    storage:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi
          storageClassName: "standard-rwo"
    resources:
      requests:
        cpu: "500m"
        memory: "1Gi"
      limits:
        cpu: "1"
        memory: "2Gi"

    serviceMonitorSelector: {}
    serviceMonitorNamespaceSelector: {}
    podMonitorSelector: {}
    podMonitorNamespaceSelector: {}
    ruleSelector: {}      # 룰(Rule) 파일도 라벨 상관없이 가져오게 설정
    ruleNamespaceSelector: {}

  persistence:
    enabled: true

  service:
    type: NodePort
    nodePort: 30030

# Alertmanager 설정
alertmanager:
  enabled: true
  serviceAccount:
    create: true
  config:
    global:
      resolve_timeout: 5m
    route:
      group_by: ['alertname', 'job']
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 12h
      receiver: 'slack-notifications'  # 기본 수신자
      routes:
      - match:
          alertname: HighHttpErrorRate
        receiver: 'slack-notifications'
        repeat_interval: 4h
        group_wait: 1m
        continue: false
      
      - match_re:
          severity: critical|warning
        receiver: 'slack-notifications'

    receivers:
    - name: 'slack-notifications'
      slack_configs:
      - channel: '#리소스-이상치'
        send_resolved: true
        api_url_file: '/etc/alertmanager/secrets/slack-secret/webhook-url'
        title: '[{{ .Status | toUpper }}] {{ .CommonAnnotations.summary }}'
        text: |-
          {{ range .Alerts }}
          *경보 내용:* {{ .Annotations.description }}
          *발생 시간:* {{ .StartsAt.Local.Format "2006-01-02 15:04:05" }} (KST)
          -------------------------
          {{ end }}

  alertmanagerSpec:
    secrets:
      - slack-secret
    volumes:
      - name: tz-seoul
        hostPath:
          path: /usr/share/zoneinfo/Asia/Seoul
    volumeMounts:
      - name: tz-seoul
        mountPath: /etc/localtime
        readOnly: true
    replicas: 1
    useExistingSecret: false
    automountServiceAccountToken: true
    resources:
      requests:
        cpu: "100m"
        memory: "256Mi"
      limits:
        cpu: "500m"
        memory: "512Mi"
    storage:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 5Gi
          storageClassName: "standard-rwo"
  
  persistence:
    enabled: true

  service:
    enabled: true
    type: NodePort
    nodePort: 30032

# Grafana 설정
grafana:
  enabled: true
  replicaCount: 1
  adminUser: admin
  admin:
    existingSecret: "grafana-pw"
    userKey: "admin-user"
    passwordKey: "admin-password"

  service:
    type: NodePort
    nodePort: 30031

  ingress:
    enabled: false

  persistence:
    enabled: true
    storageClassName: "standard-rwo"
    accessModes:
      - ReadWriteOnce
    size: 10Gi

  resources:
    requests:
      cpu: "100m"
      memory: "256Mi"
    limits:
      cpu: "500m"
      memory: "1Gi"

  defaultDashboardsEnabled: true

# kube-state-metrics
kube-state-metrics:
  enabled: true
  resources:
    requests:
      cpu: "50m"
      memory: "128Mi"

# Node exporter
nodeExporter:
  enabled: true
  hostRootFsMount:
    enabled: true
  resources:
    requests:
      cpu: "50m"
      memory: "64Mi"

# RBAC
global:
  rbac:
    create: true

imagePullSecrets: []

# GKE 관리 컴포넌트 비활성화
kubeControllerManager:
  enabled: false
kubeScheduler:
  enabled: false
kubeProxy:
  enabled: false
coreDns:
  enabled: false