replicas: 2

minimumMasterNodes: 1

resources:
  requests:
    cpu: "500m"
    memory: "2Gi"
  limits:
    cpu: "1"
    memory: "2Gi"

volumeClaimTemplate:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 20Gi
  storageClassName: gp3

esConfig:
  elasticsearch.yml: |
    cluster.name: eks-elk
    network.host: 0.0.0.0

service:
  type: ClusterIP
